@import "tailwindcss";

:root {
  --background: var(--color-neutral-200);
  --foreground: var(--color-neutral-700);
  --font-alfa-slab-one: "Alfa Slab One", serif;
  --font-instrument-sans: "Instrument Sans", sans-serif;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

.alfa-slab-one-regular {
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
}


.instrument-sans-regular {
  font-family: "Instrument Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}